body {
    overflow: hidden;
    font-family: "IBM Plex Mono Medium", monospace;
    color: #0075F2;
}

footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100vw;
    height: 4.9vw;
    border: 1px solid #0075F2;
    /* color: #0075F2; */
    /* font-family: "IBM Plex Mono Medium", monospace; */
    font-size: clamp(0.875rem, 0.85rem + 0.13vw, 1rem);
    position: absolute;
    bottom: 0;
    margin-top: 100vh;
    z-index: 1;
}

.first-column-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1.8vw;
}

.tg-p {
    margin-top: 1.15vw;
}

.email-p {
    margin-top: 0.5vw;
}

.second-column-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1.2vw;
}

/* .hse-p {
    margin-top: 1.15vw;
} */

.third-column-footer {
    display: flex;
    align-items: flex-start;
    margin-right: 12vw;
    margin-top: 1.15vw;
}

form {
    display: flex;
    flex-direction: column;
}

.input-button {
    display: flex;
}

input {
    background: transparent;
    width: 10vw;
    height: 1.4vw;
    border: 1px solid #0075F2;
    padding-top: 0.1vw;
    padding-left: 0.3vw;
    padding-right: 2.4vw;
    margin-top: 0.5vw;
    box-sizing: border-box;
    cursor: text;
    /* font-family: "IBM Plex Mono Medium", monospace; */
    font-size: clamp(0.875rem, 0.85rem + 0.13vw, 1rem);
    /* color: #0075F2; */
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px black inset;
    /* можно изменить на любой вариант цвета */
    -webkit-text-fill-color: #0075F2;
    -webkit-outline: none
}

input:focus {
    outline: none;
    color: #0075F2;

}

/* 
input:-internal-autofill-selected {
    appearance: none;
    background: transparent !important; 
    color: #0075F2 !important;
} */
/* input:autofill {
    background-color: transparent !important;
    color: #0075F2 !important;
    border: 1px solid #0075F2 !important;
} */

::placeholder {
    /* font-family: "IBM Plex Mono Medium", monospace; */
    font-size: clamp(0.875rem, 0.85rem + 0.13vw, 1rem);
    /* color: #0075F2; */
}

button {
    background: transparent;
    border: none;
    margin-left: -2.6vw;
    margin-top: 0.65vw;
    cursor: pointer;
}

button img {
    width: 2vw;
    height: 1vw;
}

.logo {
    width: 3vw;
    height: 2.9vw;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 1.7vw;
    left: 1.8vw;
}

.closed-burger {
    width: 3.7vw;
    height: 2vw;
    background-image: url(../img/burger.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 1.7vw;
    right: 1.8vw;
    display: flex;
}

.opened-burger {
    width: 12vw;
    height: 13.9vw;
    background-image: url(../img/openedBurger.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 1.7vw;
    right: 1.8vw;
    display: none;
    flex-direction: column;
}

.close {
    width: 2.6vw;
    height: 1.7vw;
    background-image: url(../img/close.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    align-self: flex-end;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
}

.links-text {
    /* font-family: "IBM Plex Mono Medium", monospace; */
    font-size: clamp(0.813rem, 0.027rem + 1.23vw, 1.5rem);
    /* color: #0075F2; */
    margin-top: 2vw;
    margin-left: 0.5vw;
}

.links-text p {
    margin-top: 1.5vw;
}

/* a {
    color: #0075F2;
} */

.background-footer {
    width: 100vw;
    height: 4.9vw;
    background-image: url(../img/blur.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: screen;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}