body {
    overflow-y: scroll;
}

footer {
    position: static;
}

.textAndBook {
    display: flex;
}

.textBlock {
    margin-top: 7vw;
    margin-left: 1.82vw;
    font-size: clamp(1.125rem, 0.675rem + 2.25vw, 3.375rem);
    width: 54vw;
}

.textBlock p:last-child {
    margin-top: 1vw;
}

.bookInteractive {
    /* margin-top: 16.51vw; */
    height: 45vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bookPage {
    position: absolute;
    width: 39.79vw;
    height: 28.23vw;
    border: 1px solid #0075F2;
}