body {
    overflow-y: scroll;
}

.infoBlock {
    margin-top: 5vw;
    margin-left: 1.82vw;
    margin-bottom: 4.64vw;
}

.images {
    display: flex;
}

.firstIMG {
    width: 22.71vw;
    height: 19.74vw;
    background-image: url(../img/firstBuild.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1.82vw;
}

.secondIMG {
    width: 22.71vw;
    height: 19.74vw;
    background-image: url(../img/secondBuild.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.textBlock {
    font-size: clamp(1rem, 0.55rem + 2.25vw, 3.25rem);
    margin-top: 0.78vw;
    margin-bottom: 1.35vw;
    width: 47.24vw;
}

.buttons {
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.71vw;
    height: 4.79vw;
    background-color: #0075F2;
    font-family: "IBM Plex Mono Medium", monospace;
    color: white;
    font-size: clamp(1rem, 0.925rem + 0.38vw, 1.375rem);
}

.firstButton {
    margin-right: 1.82vw;
}

canvas {
    position: absolute;
    left: 50vw;
    top: 0vw;
    width: 50vw;
    height: 80vh;
}

@media (max-width: 768px) {
.infoBlock {
    margin-top: 20vw;
    margin-left: 1vw;
    /* margin-bottom: 4.64vw; */
}

footer {
    position: static;
}

.firstIMG {
    width: 48vw;
    height: 45.74vw;
    /* margin-right: 1.82vw; */
}

.secondIMG {
    width: 48vw;
    height: 45.74vw;
}

.textBlock {
    margin-top: 3vw;
    margin-bottom: 4vw;
    width: 98vw;
    font-size: clamp(1.125rem, 0.857rem + 1.34vw, 1.5rem);
}

.button {
    width: 48vw;
    height: 13vw;
    font-size: clamp(0.875rem, 0.429rem + 2.23vw, 1.5rem);
}

.firstButton {
    margin-right: 1.82vw;
}
}