body {
    overflow-y: scroll;
}

.textBlock {
    font-size: clamp(1.125rem, 0.95rem + 0.88vw, 2rem);
    width: 48vw;
    position: fixed;
    top: 11.6vw;
    left: 1.8vw;
}

.textBlock p:last-child {
    margin-top: 1vw;
}

.mediaBlock {
    margin-left: 51.1vw;
    display: flex;
    flex-direction: column;
}

.videoFirstRight {
    margin-top: -1vw;
    margin-bottom: -1vw;
}

video {
    height: 24vw;
    width: 46vw;
}

img {
    height: 33vw;
    width: 46vw;
}

footer {
    position: static;
}