body {
    overflow-y: scroll;
}

footer {
    position: static;
}

.shop {
    display: flex;
}

.heading {
    margin-top: 6.25vw;
    margin-left: 1.8vw;
    font-size: clamp(1.5rem, 1.188rem + 1.56vw, 3.063rem);
}

.productCard {
    margin-top: 2.08vw;
    margin-left: 1.8vw;
    width: 22.71vw;
    margin-bottom: 4.69vw;
}

.imgSoda {
    width: 22.71vw;
    height: 16.98vw;
    border: 1px solid #0075F2;
    background-image: url(../img/soda.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imgLunch {
    width: 22.71vw;
    height: 16.98vw;
    border: 1px solid #0075F2;
    background-image: url(../img/lunch.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imgMilk {
    width: 22.71vw;
    height: 16.98vw;
    border: 1px solid #0075F2;
    background-image: url(../img/milk.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imgCase {
    width: 22.71vw;
    height: 16.98vw;
    border: 1px solid #0075F2;
    background-image: url(../img/case.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.imgVending {
    width: 22.71vw;
    height: 16.98vw;
    border: 1px solid #0075F2;
    background-image: url(../img/vending.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cards {
    display: flex;
    width: 74vw;
    height: auto;
    flex-wrap: wrap;
}

.textOnCard {
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    font-size: clamp(1.125rem, 1.075rem + 0.25vw, 1.375rem);
    letter-spacing: -0.1vw;
}

.activeButton {
    border: 1px solid #0075F2;
    width: 22.71vw;
    height: 4.79vw;
    background-color: #CED2D6;
    font-family: "IBM Plex Mono Medium", monospace;
    color: #0075F2;
    font-size: clamp(1rem, 0.925rem + 0.38vw, 1.375rem);
    white-space: nowrap;
}

.cart {
    width: 26.35vw;
    border: 1px solid #0075F2;
}

.cart p {
    margin-top: 6.25vw;
    margin-left: 1.8vw;
    font-size: clamp(1.5rem, 1.188rem + 1.56vw, 3.063rem);
}

.card_mobile {
    display: none;
}

.all_prod {
    margin-top: 2.08vw;
    margin-left: 1.88vw;
}

.product {
    margin-bottom: 2vw;
    display: flex;
    width: 22.66vw;
}

.imgSmall {
    width: 6.82vw;
    height: 4.74vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #0075F2;
}

.product .soda {
    background-image: url(../img/soda.png);
}

.product .lunch {
    background-image: url(../img/lunch.png);
}

.product .milk {
    background-image: url(../img/milk.png);
}

.product .case {
    background-image: url(../img/case.png);
}

.product .vending {
    background-image: url(../img/vending.png);
}

.info {
    margin-left: 1.04vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom_info {
    display: flex;
    justify-content: space-between;
}

.quantity_inner {
    border: 1px solid #0075F2;
    width: 4.06vw;
    height: 1.09vw;
    display: flex;
    justify-content: space-between;
}

.quantity_inner input {
    background: transparent;
    width: 1vw;
    height: 1.09vw;
    border: 0;
    padding: 0vw;
    margin-top: 0vw;
    box-sizing: border-box;
    cursor: text;
    font-size: clamp(0.625rem, 0.196rem + 0.67vw, 1rem);
    color: #0075F2;
    text-align: center;
}

.quantity_inner button {
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    font-size: clamp(0.625rem, 0.196rem + 0.67vw, 1rem);
    color: #0075F2;
    background: transparent;
}

hr {
    border: 0.1px solid #0075F2;
}

.all_count {
    margin-top: 1.04vw;
    margin-left: 1.88vw;
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.order_bt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 4.5vw;
    background-color: #0075F2;
    font-family: "IBM Plex Mono Medium", monospace;
    color: white;
    font-size: clamp(1rem, 0.925rem + 0.38vw, 1.375rem);
    margin-top: 1.04vw;
    margin-left: 1.88vw;
}

.cart-empty {
    display: none;
}

.closeCart {
    display: none;
    width: 2.6vw;
    height: 1.7vw;
    background-image: url(../img/close.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    align-self: flex-end;
    margin-top: 0.5vw;
    margin-right: 0.8vw;
}

@media (max-width: 768px) {
    .cart {
        display: none;
        background-color: white;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }

    .closeCart {
        display: inline;
        z-index: 11;
        width: 17.8vw;
        height: 7.6vw;
        top: 4.7vw;
        right: 4.3vw;
    }

    .cart p {
        font-size: clamp(1.25rem, 0.045rem + 6.03vw, 2.938rem);
        margin-top: 20vw;
        margin-left: 4.7vw;
    }

    .heading {
        margin-top: 20vw;
        margin-left: 4.7vw;
        margin-bottom: 3vw;
        font-size: clamp(1.25rem, 0.045rem + 6.03vw, 2.938rem);
    }

    .productCard {
        margin-top: 4vw;
        margin-left: 4.7vw;
        width: 91.2vw;
        margin-bottom: 4.69vw;
        margin-bottom: 15vw;
    }

    .imgSoda {
        width: 91.2vw;
        height: 67.5vw;
    }

    .imgLunch {
        width: 91.2vw;
        height: 67.5vw;
    }

    .imgMilk {
        width: 91.2vw;
        height: 67.5vw;
    }

    .imgCase {
        width: 91.2vw;
        height: 67.5vw;
    }

    .imgVending {
        width: 91.2vw;
        height: 67.5vw;
    }

    .cards {
        width: 95vw;
    }

    .textOnCard {
        margin-top: 5vw;
        margin-bottom: 5vw;
        font-size: clamp(1.125rem, 0.857rem + 1.34vw, 1.5rem);
    }

    .basicButton {
        width: 91.2vw;
        height: 15vw;
        font-size: clamp(1.125rem, 0.857rem + 1.34vw, 1.5rem);
    }

    .activeButton {
        width: 91.2vw;
        height: 15vw;
        font-size: clamp(1.125rem, 0.857rem + 1.34vw, 1.5rem);
    }

    .card_mobile {
        display: block;
        position: fixed;
        bottom: 4vw;
        right: 4.7vw;
    }

    .circle {
        width: 6vw;
        height: 6vw;
        border: 1px solid #0075F2;
        background-image: url(../img/circle.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: -2vw;
        margin-left: -2vw;
        position: fixed;
        font-size: clamp(1.125rem, 0.857rem + 1.34vw, 1.5rem);
        color: white;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .cardIMG {
        width: 19.5vw;
        height: 16vw;
        border: 1px solid #0075F2;
        background-image: url(../img/cartIMG.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .all_prod {
        margin-top: 2.08vw;
        margin-left: 4.7vw
    }

    .priceCart {
        font-size: clamp(0.938rem, 0.045rem + 4.46vw, 2.188rem);
    }

    .product {
        margin-bottom: 2vw;
        width: 87vw;
    }

    .imgSmall {
        width: 42.5vw;
        height: 31.9vw;
    }

    .nameCart {
        font-size: clamp(1.25rem, 0.045rem + 6.03vw, 2.938rem);

    }

    .info {
        margin-left: 4vw;
    }

    .quantity_inner {
        width: 19vw;
        height: 6.09vw;
    }

    .quantity_inner input {
        width: 5vw;
        height: 6vw;
        border: 0;
        padding: 0vw;
        margin-top: 0vw;
        font-size: clamp(0.938rem, 0.045rem + 4.46vw, 2.188rem);
    }

    .quantity_inner button {
        margin-left: 1vw;
        margin-right: 1vw;
        font-size: clamp(0.938rem, 0.045rem + 4.46vw, 2.188rem);
    }

    .all_count {
        margin-top: 4vw;
        margin-left: 4.7vw;
        width: 92vw;
        font-size: clamp(1.25rem, 0.045rem + 6.03vw, 2.938rem);

    }

    .order_bt {
        width: 92vw;
        height: 18vw;
        font-size: clamp(1.25rem, 0.045rem + 6.03vw, 2.938rem);
        margin-top: 4vw;
        margin-left: 4.7vw;
    }

}